body{
    background-color:chartreuse;
    background-size: cover;
}
h1{
    
    font-size: 100px;
    color:black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    color:black;
    font-size: 25px;
}
h2{
    font-size: 40px;
    color: black;
    text-align: center;
}
h3{
    font-size: 40px;
    color: black;
    text-align: center;

}
h4{
    font-size: 40px;
    color: black;
    text-align: center;
}
h5{
    font-size: 40px;
    text-align: center;
    color:black;

}
h6{
    font-size: 40px;
    color: black;
text-align: center;
}
li{
    color:black;
    text-align: center;
    font-size: 25px;
    margin-left: 60px;
}
.wrap{
    border: 2px solid black;
    
    border-radius: 30px;
    background-color:green;
    padding: 20px;
    font-size: 20px;
    margin: 60px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    border:2px solid black;
    
    border-radius:30px;
    background-color:green;
    padding: 20px;
    font-size: 20px;
    margin: 60px;
    margin-left: 50px;

}
.basket{
    border: 2px black;
    
    border-radius:30px;
    background-color:green;
    padding: 20px;
    font-size: 20px;
    margin: 60px;
    margin-right:  50px;

}
footer{
    text-align: center;
    color: black;
}
