body{
    background-color:chartreuse;
    background-size: cover;
    height: 250px;
}
h1{
    color:black;
    font-size: 100px;
    text-align: center;
    
}
p{
    text-align: center;
    font-size: 50px;
    color: black;
}
table{
    text-align:centre;
}


